h1 {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #281414;
  z-index: 10;
  margin: 0;
  padding: 0;
}
.addPlace{
  height:100px ;
  width: 100px;
  z-index: 12;
  background-color: aqua;
}
.reviewArena{
  /* margin-left: 500px; */
  align-self: right;
  height: 100px;
  z-index: 10;
  position: absolute;
  /* width: 10px; */
  background-color: brown;
}
.arenaTitle{
  background-color: darkolivegreen;
  width: fit-content;
  margin: 0px;
  /* margin: auto; */
}
.arenaReview{
  background-color: deeppink;
  margin: auto;
  width: auto;
}
.IndividualReview{
  background-color: dimgrey;
  /* margin:auto; */

}